<template lang="pug">
.field
  label.label {{rbModel.label}}
  p.control
    component.input(v-bind:is="mapper(rbModel)"
              v-on:change="onChange"
              v-bind:rb-model="rbModel")
    .files(v-if="isFileUpload() && hasUploadedFiles()")
      .file(v-for="file in rbModel.files") {{file.name}}
        .remove(@click="onRemoveFile(file)") X
  p.help(v-if="false") helptext
</template>

<script>
import mapper from '@/util/FormElementMapper.js'
import InputFile from '@/components/InputTypes/InputFile'

export default {
  name: 'form-item',
  props: ['rb-model'],
  methods: {
    mapper,
    isFileUpload() {
      return mapper(this.rbModel) === InputFile
    },
    hasUploadedFiles() {
      return this.rbModel.files.length
    },
    onRemoveFile(removableFile) {
      const id = this.rbModel.id
      const files = this.rbModel.files.filter(file => file !== removableFile)
      this.$store.dispatch('updateFormFiles', {id, files})
    },
    onChange(value) {
      const id = this.rbModel.id
      this.$store.dispatch('updateFormField', {id, value})
    }
  }
}
</script>

<style lang="sass">
.files
  padding-top: 10px
.file
  padding: 5px 5px 5px 20px
  .remove
    float: right
    display: inline-block
    cursor: pointer
    font-weight: bold
</style>
