<template lang="pug">
.columns
	.column(v-if="formItems.length")
		.title {{formTitle}}
		form(@submit.prevent="submit")
			form-item(v-for="item, i in formItems",
								:rb-model="item"
								:key="i")
			button.button(type="submit") Submit
	.column(v-else="" class="alert-warning")
		span This menuitem seems to be empty.
</template>

<script>
import FormItem from '@/components/FormElements/FormItem'
import Store from '@/vuex/store.js'
import { mapGetters } from 'vuex'

export default {
  name: 'rb-form-container',
  components: {
    FormItem
  },
	methods : {
    submit () {
        //TODO: submit form
				this.$store.dispatch('postForm')
    }
	},
	computed: mapGetters({
    formItems: 'getActiveFormFields',
    formTitle: 'getActiveFormTitle'
  })
}
</script>

<style lang="sass" scoped>
	@import "~bulma/utilities/_all"
	@import "~bulma/components/panel"

	.columns
		.column
			padding: 5px
			+tablet
				max-width: 80%
				margin-left: 10%
			+desktop
				max-width: 50%
				margin-left: 25%
			&:nth-child(1)
			&:nth-child(2)
</style>
