<template lang="pug">
li
  div(@click="select" class="tree-item")
    span(v-if="hasChildren") [{{open ? ' - ' : ' + '}}]
    span(v-if="model.label")  {{ model.label }}
    span(v-else)
      span(v-if="isLoading") loading..
      span(v-else) Network error
        button(@click.stop="retry") retry
  ul(v-show="open" v-if="hasChildren")
    treeitem(class="item" v-for="model,i in model.children" :key="i" :model="model")
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'treeitem',
  props: {
    model: Object
  },
  data () {
    return {
      open: false
    }
  },
  computed: {
    hasChildren () {
      return this.model.children && this.model.children.length
    },
    ...mapGetters({
      isLoading: 'isLoading'
    })
  },
  methods: {
    select() {
      const treeItem = this.model
      if (this.hasChildren) {
        this.$store.dispatch('fetchChildTreeItems', {treeItem})
        this.open = !this.open
      } else {
        if (treeItem.formItems) {
          this.$store.dispatch('fetchFileDetails', {treeItem})
        } else {
          console.warn('TreeSelectItem: treeitem has no treeitems', {treeItem})
        }
      }
    },
    retry() {
      console.log("TODO: fetch resource again")
    }
  }
}
</script>
