<template lang="pug">
.container(class="tree-select-container")
  div(v-if="tree.length")
    ul(class="tree-select")
      treeitem(v-for="(node, i) in tree"
        :key="i"
        :model="node"
        class="")
  .alert(v-else class="alert-danger")
    strong Network Error!
      span If the problem persist, contact your system administrator.
</template>


<script>
import TreeSelectItem from './TreeSelectItem'
import { mapGetters } from 'vuex'
import { TreeItem } from '@/model/TreeItem'
import vue from 'vue'

export default {
  name: 'tree-select',
  components: {
    treeitem: TreeSelectItem
  },
  watch: {
    tree: {
      handler: function (val, oldVal) {
        // TODO: make more effective
      },
      deep: true
    }
  },
  mounted () {
    this.$store.dispatch('fetchRootTreeItems')
  },
  computed: mapGetters({
    tree: 'getSelectTree'
  })
}
</script>

<style lang="sass">

  $menu-border: 1px solid
  $menu-color: none
  $hover-item-color: #ecf0f1

  @mixin indentation()
    margin: 0 0 0 1em

  @mixin list-item-container()
    @include indentation
    list-style: none
    margin: 0 0 0 1em
    padding: 0
    position: relative

  @mixin menu-line()
    content: ""
    display: block
    position: absolute

  .tree-select-container
    background: $menu-color
    border: 1px solid
    border-color: $hover-item-color
    padding: 20px 10px
    margin-top: 30px
    margin-bottom: 30px
    &:hover
      border-color: $hover-item-color

  .tree-select
    @include list-item-container
    background: $menu-color
    ul
      @include list-item-container
      margin-left: .5em
    &:before, ul:before
      @include menu-line
      width: 0
      top: 0
      bottom: 0
      left: 0
      border-left: $menu-border
    li
      margin: 0
      padding: 0 0 0 1.5em
      line-height: 2em
      font-weight: bold
      position: relative
      &:before
        @include menu-line
        border-top: $menu-border
        top: 1em
        width: 20px
        height: 0
        left: 0
      &:last-child:before
        background: $menu-color
        height: auto
        bottom: 0
    .tree-item
      transition: background 0.2s
      &:hover
        background: $hover-item-color
</style>
