<template>
  <input
    class="form-control"
    type="number"
    :name="rbModel.name"
    :placeholder="rbModel.placeholder"
    :min="rbModel.min"
    :max="rbModel.max"
    :step="rbModel.step"
    :value="value"
    :disabled="false"
    @input="onChange"/>
</template>

<script>
export default {
  props: {
    rbModel: Object
  },
  data() {
    return {
      value: ""
    }
  },
  methods: {
    onChange (e) {
      this.$emit('change', e.target.value !== '' ? + e.target.value : undefined)
    }
  }
}
</script>
