<template>
  <div>
    <input type="file"
    style="display: none;"
    :name="rbModel.name"
    :placeholder="rbModel.placeholder"
    :maxlength="rbModel.max"
    :disabled="false"
    @change="onChange"
    multiple />
    <button class="button" type="button" @click="proxyInput()">
      Lisa fail(id)...
    </button>
  </div>
</template>

<script>
export default {
  props: {
    rbModel: Object
  },
  data() {
    return {}
  },
  methods: {
    proxyInput() {
      this.$el.querySelector('[type="file"]').click()
    },
    onChange (e) {
      const id = this.rbModel.id
      const files = e.target.files
      this.$store.dispatch('updateFormFiles', {id, files})
    }
  }
}
</script>

<style scoped lang="sass">
  .input
    padding: 0px
    button
      height: 100%
      width: 100%
      border: none
</style>
