<template>
  <textarea
    :name="rbModel.name"
    :placeholder="rbModel.placeholder"
    :maxlength="rbModel.max"
    :value="value"
    :disabled="false"
    @input="onChange"/>
</template>

<script>
export default {
  props: {
    rbModel: Object
  },
  data () {
    return {
      value: ""
    }
  },
  methods: {
    onChange (e) {
      this.$emit('change', e.target.value)
    }
  }
}
</script>
