<template lang="pug">
.section(:class="{'is-loading': isLoading}")
	tree-select
	rb-form-container(v-if="formItems.length > 0")
	.helper.container(v-if="formItems.length == 0")
		p Kasuta valikmenüüd, et valida toimik
</template>

<script>
import RbFormContainer from '@/components/RbFormContainer'
import TreeSelect from '@/components/TreeSelect'
import { mapGetters } from 'vuex'

export default {
  name: 'app',
  components: {
    RbFormContainer,
		TreeSelect
  },
  data () {
    return {
      title: 'RABIS2'
    }
  },
	computed: mapGetters({
    isLoading: 'isLoading',
		formItems: 'getActiveFormFields',
		formData: 'getPostData'
  })
}
</script>

<style lang="sass">
	.helper
		height: 200px
		p
			text-align: center
			position: relative
			font-size: 20px
			top: 50%
			font-weight: 600

	.is-loading

</style>
